@{
    ViewData["Title"] = "KNX Control";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="button-container">
        <h1>@ViewData["Title"]</h1>
        <h1><a asp-controller="KNX" asp-action="KNXConnect" class="btn btn-success btn-custom">Подключение</a></h1>
        <h1><a asp-controller="KNX" asp-action="KNXWrite" class="btn btn-primary btn-custom">Запись</a></h1>
        <h1><a asp-controller="KNX" asp-action="KNXDiscover" class="btn btn-primary btn-custom">Поиск устройств</a></h1>
    </div>
</body>
</html>